.body{
    margin: 0%;
    padding: 0%;
}

.cont-conocenos{
    position: relative;
    z-index: 3;
    margin: 0%;
    padding: 0%;
}

.cont-conocenos img{
    width: 100%;
    height: 100%;
    display: block;
    opacity: 4;
}

.cont-conocenos #titulo-conocenos{
    position: absolute;
    z-index: 1;

    top: 10%;
    left: 10%;

    height: 100px;
    width: 74%;

    text-align: right;
    font-size: 32px;
    
    /*border: 2px solid #0a0a0a; */
   
    padding: 30px;
    color: white; /* Color del texto */
   
}

.cont-conocenos #descripcion{
    position: absolute;
    z-index: 1;
    top:48%;
    left: 10%;
    height: 200px;
    width: 80%;
    
    font-size: 20px;

    /*border: 2px solid #0a0a0a; */
    color: rgb(218, 218, 218); /* Color del texto */

    text-align: right;
    justify-content: right;
}