.cont-inicio {

    z-index: 3;
    margin: 0%;
    padding: 0%;
    height: 90%;
    width: 100%;
    overflow: hidden;
    position: relative;

    opacity: 1; /* Reducir la opacidad al 50% */
     /*  border: 2px solid #333; */
    background-color: black;
}

.cont-inicio img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
