.texto {
    font-size: 40px;
    /*font-family: 'Roboto', sans-serif;*/
    font-family: 'Tahoma', sans-serif;
    position: absolute; /* Posicionamos el texto de manera absoluta */
   
    color: white;
    padding: 40px; /* Espaciado interno del texto */
   
    text-align: justify;
    text-align: left;
    bottom: 0; /* Lo coloca en la parte inferior */
    left: 0; /* Lo coloca en la parte izquierda */
    padding-bottom: 60px;
}
